html * {
  box-sizing: border-box;
}

body {
	background: gray;
	color: white;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin: 10px;
}

main {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

hr {
  width: 95vw;
}

.vowels, .consonants {
  /* font-size: 3em; */
  font-size: 4vw;
  font-weight: bold;
  /* margin: 0 auto; */
  width: 75%;
  max-height: 40vh;
  max-width: 80vw;
  display: grid;
  gap: 0px 0px;
  overflow: hidden;
  border: 1px solid #575757;
}

/* img {
	width: 100px;
} */

.vowels {
  margin: 20px auto 20px auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-template-areas:
    ". . . . . ㅛ . . . . ."
    ". . . . . . . . . . ."
    ". . . . . ㅗ ㅚ ㅙ ㅘ . ."
    ". . . . . . . . . . ."
    ". ㅖ . ㅔ . ㅡ . ㅐ . ㅒ ."
    "ㅕ . ㅓ . ㅣ ㅇ ㅣ2 . ㅏ . ㅑ"
    ". . . . . ㅡ2 ㅢ . . . ."
    ". . . . . . . . . . ."
    ". . ㅝ ㅞ . ㅜ ㅟ . . . ."
    ". . . . . . . . . . ."
    ". . . . . ㅠ . . . . .";
}

.consonants {
  margin: 20px auto 20px auto;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    ". . . . ㅎ . . . ."
    ". . . . . . . . ."
    ". . . . ㅇ . . . ."
    "ㄹ ㅌ ㄷ ㄴ ㅁ ㄱ ㅋ ㅂ ㅍ"
    ". . . . ㅅ . . . ."
    ". . . . ㅈ . . . ."
    ". . . . ㅊ . . . .";
}

/* 
https://en.wikipedia.org/wiki/Obangsaek
https://en.wikipedia.org/wiki/Dancheong

blue/east/wood
red/south/fire
yellow/center/earth
white/west/metal
black/north/water 
*/

/* vowels */
.ㅣ { grid-area: ㅣ; background: none; color: white; }
.ㅓ { grid-area: ㅓ; background: none; color: white; }
.ㅕ { grid-area: ㅕ; background: none; color: white; }
.ㅣ2 { grid-area: ㅣ2; background: none; color: #00479f; } 
.ㅏ { grid-area: ㅏ; background: none; color: #00479f; }
.ㅑ { grid-area: ㅑ; background: none; color: #00479f; }
.ㅡ2 { grid-area: ㅡ2; background: none; color: #ca2e3a; }
.ㅜ { grid-area: ㅜ; background: none; color: #ca2e3a; }
.ㅠ { grid-area: ㅠ; background: none; color: #ca2e3a; }
.ㅡ { grid-area: ㅡ; background: none; color: #0a3947; }
.ㅗ { grid-area: ㅗ; background: none; color: #0a3947; }
.ㅛ { grid-area: ㅛ; background: none; color: #0a3947; }
.ㅝ { grid-area: ㅝ; background: none; color: #7FC29B; }
.ㅞ { grid-area: ㅞ; background: none; color: #7FC29B; }
.ㅟ { grid-area: ㅟ; background: none; color: #7FC29B; }
.ㅢ { grid-area: ㅢ; background: none; color: #7FC29B; }
.ㅐ { grid-area: ㅐ; background: none; color: #FA8A40; }
.ㅒ { grid-area: ㅒ; background: none; color: #FA8A40; }
.ㅚ { grid-area: ㅚ; background: none; color: #7FC29B; }
.ㅙ { grid-area: ㅙ; background: none; color: #7FC29B; }
.ㅘ { grid-area: ㅘ; background: none; color: #7FC29B; }
.ㅔ { grid-area: ㅔ; background: none; color: #FA8A40; }
.ㅖ { grid-area: ㅖ; background: none; color: #FA8A40; }
.ㅇ { grid-area: ㅇ; background: none; color: #e9b43a; }

/* consonants */
.ㅁ { grid-area: ㅁ; background: none; color: #e9b43a; }
.ㄱ { grid-area: ㄱ; background: none; color: #00479f; }
.ㅋ { grid-area: ㅋ; background: none; color: #00479f; }
.ㅂ { grid-area: ㅂ; background: none; color: #00479f; }
.ㅍ { grid-area: ㅍ; background: none; color: #00479f; }
.ㄴ { grid-area: ㄴ; background: none; color: white; }
.ㄷ { grid-area: ㄷ; background: none; color: white; }
.ㅌ { grid-area: ㅌ; background: none; color: white; }
.ㄹ { grid-area: ㄹ; background: none; color: white; }
.ㅅ { grid-area: ㅅ; background: none; color: #ca2e3a; }
.ㅈ { grid-area: ㅈ; background: none; color: #ca2e3a; }
.ㅊ { grid-area: ㅊ; background: none; color: #ca2e3a; }
.ㅎ { grid-area: ㅎ; background: none; color: #0a3947; }
.consonants .ㅇ { grid-area: ㅇ; background: none; color: #0a3947; }


@media only screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }
  h1 {
    font-size: 2em;
    margin: 0;
  }
  hr {
    display: none;
  }
  .vowels, .consonants {
    width: 45%;
    max-height: 80vh;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    flex-direction: row;
  }
  h1 {
    font-size: 3em;
    margin: 10px;
  }
  hr {
    display: none;
  }
  .vowels, .consonants {
    width: 45%;
    max-height: 80vh;
  }
}